<div class="modal-dialog">
    <div class="modal-content">
        <form action="{{ path(form_action_attribute) }}" method="post" id="create-category-form"
              novalidate="novalidate">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-plus-circle"></i> Crear Categoria</h5>
                <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        id="close-create-category-modal-on-click-top-cross"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <input type="hidden" name="id" value="{{ id }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token(id) }}">
                        <div class="form-group {{ flash.has('errors.name')? 'has-error':'' }}">
                            <label>Nombre ( * )</label>
                            <input type="text"
                                   name="name"
                                   value="{{ name }}"
                                   data-name_from_database=""
                                   data-available_name_url="{{ path(name_available_path) }}"
                                   maxlength="255"
                                   id="inputFloatingLabelDescription"
                                   class="form-control"
                                   placeholder=" - Obligatorio -"
                                   required
                            >
                            <small class="errorLabelContainer form-text text-muted text-danger">
                                <span class="has-error">{{ flash.has('errors.name')? flash.get('errors.name'):'' }} </span>
                            </small>
                        </div>
                        <div class="form-group {{ flash.has('errors.position')? 'has-error':'' }}">
                            <label for="position">Ubicación ( * )</label>
                            <input type="number"
                                   name="position"
                                   value="{{ position }}"
                                   data-position_from_database=""
                                   data-available_position_url="{{ path(position_available_path) }}"
                                   maxlength="255"
                                   id="position"
                                   class="form-control"
                                   min="1"
                                   placeholder=" - Obligatorio -"
                                   required
                            >
                            <small class="errorLabelContainer form-text text-muted text-danger">
                                <span class="has-error">{{ flash.has('errors.position')? flash.get('errors.position'):'' }} </span>
                            </small>
                        </div>
                        <div class="form-group {{ flash.has('errors.description')? 'has-error':'' }}">
                            <label>Descripcíon</label>
                            <textarea
                                    rows="4"
                                    name="description"
                                    value="{{ description }}"
                                    maxlength="255"
                                    class="form-control"
                                    placeholder=" - Opcional -"
                                    autocomplete="false"
                            >{{ description }}</textarea>
                            <small class="errorLabelContainer form-text text-muted text-danger">
                                <span class="has-error">{{ flash.has('errors.description')? flash.get('errors.description'):'' }} </span>
                            </small>
                        </div>
                        <div class="form-group">
                            <label>
                                Seleccionar esta categoria al guardar
                                <input type="checkbox"
                                       checked
                                       name="select_this_category_on_save"
                                >
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button
                        type="button"
                        class="btn btn-focus"
                        data-dismiss="modal"
                        id="close-create-category-modal-on-click-button-cancel"
                >
                                <span class="btn-label">
                                    <i class="fas fa-times-circle"></i>
                                </span>
                    Cerrar
                </button>
                <button
                        class="btn btn-success"
                        id="create-category-submit"
                        type="submit"
                >
                        <span class="btn-label">
                            <i class="fas fa-save"></i>
                        </span>
                    {{ submit_button_label }}
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    $(function () {
        $.getScript("{{ asset('assets/js/blog/_shared/modal.utils.js') }}");
        $.getScript("{{ asset('assets/js/blog/category/form/create.category.on.confirm.yes.on.modal.js') }}");
        $.getScript("{{ asset('assets/js/blog/category/form/check.available.name.in.modal.js') }}");
        $.getScript("{{ asset('assets/js/blog/_shared/form/add.unique.category.name.rule.js') }}");
        $.getScript("{{ asset('assets/js/blog/category/form/check.available.position.category.in.modal.js') }}");
        $.getScript("{{ asset('assets/js/blog/_shared/form/add.unique.category.position.rule.js') }}");
    });
</script>
