{% extends 'backoffice/_shared/formToHandleItem.base.html.twig' %}
{% block form %}
    <form action="{{ path(form_action_attribute) }}" method="post" id="form"
          novalidate="novalidate">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <input type="hidden" name="id" value="{{ id }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token(id) }}">
                    <div class="form-group {{ flash.has('errors.name')?  'has-error':'' }}">
                        <label>Descripción ( * )</label>
                        <input type="text"
                               placeholder=" - Obligatorio -"
                               name="name"
                               value="{{ name }}"
                               data-name_from_database="{{ name }}"
                               data-available_name_url="{{ path(name_available_path) }}"
                               maxlength="100"
                               id="name"
                               class="form-control"
                               required
                               autocomplete="false"
                               autofocus
                        >
                        <small class="errorLabelContainer form-text text-muted text-danger">
                            {% if flash.has('errors.name') %}
                                <span class="has-error">{{ flash.get('errors.name') }} </span>
                            {% endif %}
                        </small>
                    </div>
                    <div class="form-group {{ flash.has('errors.position')? 'has-error':'' }}">
                        <label for="position">Ubicación ( * )</label>
                        <input type="number"
                               name="position"
                               value="{{ position }}"
                               data-position_from_database="{{ position }}"
                               data-available_position_url="{{ path(position_available_path) }}"
                               maxlength="255"
                               id="position"
                               class="form-control"
                               min="1"
                               placeholder="- Obligatorio -"
                               autocomplete="false"
                               required
                        >
                        <small class="errorLabelContainer form-text text-muted text-danger">
                            {% if flash.has('errors.position') %}
                                <span class="has-error">{{ flash.get('errors.position') }} </span>
                            {% endif %}
                        </small>
                    </div>
                    <div class="form-group {{ flash.has('errors.description')? 'has-error':'' }}">
                        <label>Descripcíon</label>
                        <textarea
                                rows="4"
                                name="description"
                                value="{{ description }}"
                                maxlength="255"
                                class="form-control"
                                placeholder=" - Opcional -"
                                autocomplete="false"
                        >{{ description }}</textarea>
                        <small class="errorLabelContainer form-text text-muted text-danger">
                            <span class="has-error">{{ flash.has('errors.description')? flash.get('errors.description'):'' }} </span>
                        </small>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="card-action">
            <button class="btn btn-success col-12 col-sm-4 col-md-2 col-lg-2" type="submit" id="submitBtn">
                <span class="btn-label">
                    <i class="fas fa-save"></i>
                </span>
                {{ submit_button_label }}
            </button>
        </div>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/blog/_shared/form/click.submit.button.on.enter.key.press.in.keyboard.js') }}"></script>
    <script src="{{ asset('assets/js/blog/category/form/check.available.name.js') }}"></script>
    <script src="{{ asset('assets/js/blog/_shared/form/add.unique.category.name.rule.js') }}"></script>
    <script src="{{ asset('assets/js/blog/category/form/check.available.position.in.category.js') }}"></script>
    <script src="{{ asset('assets/js/blog/_shared/form/add.unique.category.position.rule.js') }}"></script>

{% endblock %}
