{% extends 'backoffice/_shared/formToHandleItem.base.html.twig' %}
{% block form %}
    <form action="{{ path(form_action_attribute) }}" method="post" id="form"
          novalidate="novalidate">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <input type="hidden" name="id" value="{{ id }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token(id) }}">
                    <div class="form-group {{ flash.has('errors.description')? 'has-error':'' }}">
                        <label>Nombre Completo ( * )</label>
                        <input type="text"
                               placeholder=" - Obligatorio -"
                               name="fullname"
                               value="{{ fullname }}"
                               data-fullname_from_database="{{ fullname }}"
                               data-available_fullname_url="{{ path(fullname_available_path) }}"
                               maxlength="100"
                               class="form-control"
                               required
                               autofocus
                               autocomplete="false"
                        >
                        <small class="errorLabelContainer form-text text-muted text-danger">
                            <span class="has-error">{{ flash.has('errors.fullname')? flash.get('errors.fullname') :'' }} </span>
                        </small>
                    </div>
                    <div class="form-group {{ flash.has('errors.biography')? 'has-error':'' }}">
                        <label>Biografía</label>
                        <textarea
                                rows="4"
                                name="biography"
                                value="{{ biography }}"
                                maxlength="255"
                                class="form-control"
                                placeholder=" - Opcional -"
                                autocomplete="false"
                        >{{ biography }}</textarea>
                        <small class="errorLabelContainer form-text text-muted text-danger">
                            <span class="has-error">{{ flash.has('errors.biography')? flash.get('errors.biography'):'' }} </span>
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-action">
            <button class="btn btn-success col-12 col-sm-4 col-md-2 col-lg-2" type="submit" id="submitBtn">
                <span class="btn-label">
                    <i class="fas fa-save"></i>
                </span>
                {{ submit_button_label }}
            </button>
        </div>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/blog/_shared/form/click.submit.button.on.enter.key.press.in.keyboard.js') }}"></script>
    <script src="{{ asset('assets/js/blog/author/form/check.available.fullname.js') }}"></script>
{% endblock %}
